@import "quasar.variables";

.oa-header {
  background-color: $dark;
  color: $secondary;
  size: 50px;
}

.oa-root-div {
  background-color: $secondary;
  height: 100%;
}

.oa-section {
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
}

.oa-section-body {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
}

.oa-section-title {
  background-color: $primary;
  color: $secondary;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
}

.oa-section-title2 {
  background-color: $secondary;
  border-radius: 0px;
  color: $dark;
  width: 100%;
  height: fit-content;
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
}

.oa-action-button {
  background-color: white;
}

.oa-nav-link {
  color: $dark;
  text-decoration: none;
}

.oa-button {
  background-color: $primary;
  color: $secondary;
  min-width: 125px;
  border-radius: 0px;
}

.oa-button-edit, .oa-button-delete, .oa-button-tag {
  @extend .oa-button;
}

.oa-properties-table {
  border-radius: 0px;
  max-height: 225px;
}

.oa-breadcrumb {
  margin: 12px;
  margin-bottom: 13px;
}

.q-textarea .q-field__control {
  min-height: 400px;
  height: auto;
}

.cursor-grab {
  cursor: grab
}
.cursor-grabbing {
  cursor: grabbing
}