// src/css/quasar.variables.scss

$primary   : #32a6d3;
$secondary : #e6e6e6;
$accent    : #e52323;

$dark      : #222222;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$generic-border-radius  : 0px;
